# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/.idea/dataSources/
/dataSources/
/dataSources.local.xml
.idea/dataSources.local.xml

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/.gitignore
.idea/workspace.xml

## Plugins/Tools use in IntelliJ

.idea/inspectionProfiles/
.idea/uiDesigner.xml
/.idea/discord.xml
/.idea/git_toolbox_prj.xml

### Mac OS ###
.DS_Store
!/Icon




